/* header */

header {
    background: white; 
    height: 168px;
    width: 100%;
}

header .material-icons {
    color: #888;
    font-size: 12px;
    cursor: pointer;
}

.toolbar {
    width: 100%;
    height: 37px;
    position: absolute;
    border-bottom: #eee solid 1px;
}

.toolbar .sta-link {
    float: left;
    background: #fff;
    height: 37px;
    margin-left: 120px;
}

.toolbar .sta-bar {
    float: right;
    background: #fff;
    height: 37px;
    margin-right: 80px;
}

header .sta-link > a {
    padding:0 10px;
    color: #888;
    font-size: 12px;
    display: block;
    float: left;
    line-height: 37px;
    /* 밑줄 삭제 */
    text-decoration: none;
    /* 글자 사이 간격 */
    letter-spacing: -0.4px;
}

header .sta-bar > a {
    padding:0 10px;
    color: #888;
    font-size: 12px;
    display: block;
    float: left;
    line-height: 37px;
    text-decoration: none;
    letter-spacing: -0.4px;
}

header .top-area {
    width: 100%;
    height: 130px;
    display: block;
    position: absolute;
    top: 38px;
    left: 0px;
}

header .bnr {
    display: block;
    width: 270px;
    height: 130px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    margin-left: 120px;
    float:left;
}

header .logo {
    display: block;
    height: 130px;
    width: 400px;
    position: relative;
    margin: 0 auto;
}

header .logo a img { 
    padding: 48px;
    display: block;
    margin: 0 auto;
}

header .search {
    width: 400px;
    height: 130px;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 90px;
} 

header .search input[type=text] {
    background: none;
    width: 210px;    
    height: 34px;
    font-size: 13px;
    /* 둥근 정도 */
    border-radius: 20px;
    /* 테두리 */
    border: 2px solid #cb0e00;
    margin-top: 37px;
    margin-left: 180px;
}

header .search_submit {
    border: 0;
    font-size: 80;
    position: absolute;
    right:20px;
    top: 48px;
    background-image: url("https://marvelcollection.co.kr/_wp/img/ico_search_18x18.png"); 
    /* 배경이미지 반복 */
    background-repeat: no-repeat;
    cursor: pointer; 
}  



/* main */

main {
    background-color:white; 
    height: 1000px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 168px;
}

.category-bar { 
    width: 100%;
    height: 60px;
    background: #282828;
    position: absolute;
    top: 0px;
    display: block;
}

main .hamburger{
    width: 60px;
    height: 100%;
    position: relative;
    background: #000000;
    display: block;
    left: 0;
    top: 0;
    cursor: pointer;
    margin-left: 120px;
    float:left;
}

main .material-icons {
    position: absolute;
    top:22px;
    right: 15px;
    color: #fff;
    line-height: 18px;
    font-size: 30px;
}

main .category-name{
    display: block;
    height: 100%;    
    position: absolute;
    left: 180px;
}

main .category-name > li{
    float: left;
    position: relative;
}


main .category-name > li > a{
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    /* 줄 높이 정하기 */
    line-height: 60px;
    display: inline-block;
    /* 밑줄 없애기 */
    text-decoration: none;
}

main .basket {
    width: 60px;
    height: 100%;
    position: absolute;
    background: #000000;
    display: block;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 120px;
    float:right;
}

.adv{
    width: 100%;
    height: 800px;
    background: black;
    position: absolute;
    top: 60px;
    display: block;
    
}

main .adv > iframe{   
    width: 1000px;
    height: 500px; 
    padding: 100px;
    display: block;
    margin: 0 auto;
}

/* FOOTER */

footer {
    background: white; 
    height: 330px;
    width: 100%;
    margin-top: 5000px;
}

.footer-top {
    width: 100%;
    height: 40px;
    position: absolute;
    border-top: #eee solid 1px;
    border-bottom:#cb0e00 solid 3px;
}

.footer-top .policy {
    float: left;
    background: #fff;
    height: 37px;
    margin-left: 120px;
}

.footer-top .sns {
    float: right;
    background: #fff;
    height: 37px;
    margin-right: 80px;
}

footer .policy > a {
    padding:0 10px;
    color: black;
    font-size: 12px;
    display: block;
    float: left;
    line-height: 37px;
    /* 밑줄 삭제 */
    text-decoration: none;
}


footer .sns a img {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.footer-mid {
    width: 100%;
    height: 200px;
    position: absolute;
    margin-top: 43px;
    border-bottom: #eee solid 1px;
}

footer .client_center {
    display: block;
    width: 220px;
    height: 160px;
    position: relative;
    margin-top: 10px;
    margin-left: 120px;
    padding: 5px;
    float:left;
}

footer .pay_info{
    display: block;    
    width: 250px;
    height: 160px;
    position: relative;    
    margin-top: 10px;   
    margin-left: 90px;
    padding: 5px;
    float:left;
}

footer .company{
    display: block;   
    width: 600px;
    height: 160px;
    position: relative;   
    margin-top: 10px; 
    margin-left: 90px;
    padding: 5px;
    float:left;
}

footer .client_center_title> span {
    margin-top:20px;
    padding-right: 7px;
    color: #cb0e00;
}

footer .client_center_title {
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

footer .client_center_content .phone {
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 28px;
    color:#cb0e00;
}

footer .client_center_content .runtime{
    padding-top: 10px;
    color:#888;
    font-size: 13px;
}

footer .pay_info_title> span {
    margin-top: 20px;
    padding-right: 7px;
    color: #cb0e00;
}

footer .pay_info_title {
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

footer .pay_info_content .bankinfo {
    padding-top: 20px;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
}

footer .pay_info_content .name {
    color: #888;
    font-size: 14px;
    padding-top: 10px;
}

footer .company_logo img {
    margin-top: 15px;
    margin-bottom: 10px;

}

footer .company_logo .company_info{
    color: #888;
    font-size: 12px;
    /* 줄 간격 */
    line-height: 1.7;
}

.footer-fin {
    width: 100%;
    height: 85px;
    position: absolute;
    margin-top: 240px;
}

footer .footer-fin .text {
    margin-top: 20px;
    margin-left: 120px;
}

footer .footer-fin .COPYRIGHT {
    font-size: 12px;
    color: #999;
    float:left;
}

footer .footer-fin .notice {
    font-size: 12px;
    margin-left: 3px;
    color: #353535;
    float:left;
}
